.clear{
	content: "";
	display: block;
	clear:both;
}
nav{
	background: rgba(0,0,0,0.5);
	height: 50px;
    z-index: 10;
    position: fixed;
    overflow: hidden;
    width:100%;
}
.sideba{
	background: rgba(0,0,0,0.5);
	height: 500px;
    z-index: 20;
    position: fixed;
    overflow: hidden;
    width:10%;
	
	
	
}





#banner{
	width:100%;
    background:rgba(7,7,7,0.5);
	background-image:url(../img/4.jpg);
	height: 700px;
	background-repeat: no-repeat;
	background-size:cover ;
	background-attachment: fixed;
}
nav ul{
	list-style: none;
	margin:0;
	float:right;
}
nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
	padding:0 20px ;
	margin:0;
}
nav ul li a,.logo a{
	display: inline-block;
	width: inherit;
	text-decoration: none;
	height:inherit;
	color:#fff;
}
nav .logo{
	float:left;
	padding-left: 10px;
}
.logo{
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 1px;
}

#banner #inner{
	max-width:300px;
	text-align: center;
	margin: 0 auto;
	position:relative;
	top:160px;
}
#banner #inner h1{
	color:#fff;
	font-weight: 900;
	margin:0;
	padding:0;
}
button{
	border:none;
	background: rgba(3,3,3,0.5);
	color: #eee;
	padding:10px; 
}
#banner #inner button{
	border:none;
    margin-top: 70px;
	padding:14px 60px; 
}
#banner #inner #more{
	color:#fff;
	margin-top: 150px;
}
#banner #inner h3{
	color:#fff;
	line-height: 200%;
}
.active{
	border-bottom: ;4px solid #fff;
}
h1{
	font-size:40px;
	padding:12px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}
#pagelogo{
	margin: 0 auto;
	width:200px;
}
h2{
	font-size:30px;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
ul{
	padding: 0;
	margin: 0;
}

.hr{
	width: 100%;
	height:2px;
	margin:20px auto;
}
.sub-heading{
	font-size:18px;
	line-height: 30px;
	margin: 30px 0;
}

.green_section{
	background: #252F57;
	color:#FFFFFF;
	text-align: center;
	padding:100px 0;
}

.green_section .hr{
	background: #263F57;
	width: 60%;
}
.icon-group{
	margin-top: 60px;
}
.green_section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0D3F57;
	-webkit-transform:rotate(45deg);
	margin:20px;
}
.wrapper{
	max-width: 1080px;
	margin:0 auto;
}
.gray-section{
	background: #262F44;
	color: #FFF;
}
.gray-section .img-section{
	width:45%;
}
.img-section img{
	width:100%;
}
.gray-section .text-section{
	width: 55%;
}
.article-section > div{
	float:left;
	font-size: 0;
}
.article-section:nth-child(odd){
    background-color: rgba(255,255,255,0.05);
}
.article-section:after{
	content: "";
	display: block;
	clear:both;
}
.text-section{
	position: relative;
	top: 68px;
	left: 50px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section .sub-heading{
	font-size: 20px;
	margin-top: 0;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section > *{
	max-width: 90%;
}

.puple-section{
	display: inline-block;
	background-color: #3F3965;
	color:#fff;
	padding: 60px;
}

.heading-wrapper{
	width:60%;
	margin:0 auto;
	text-align: center;
}
.heading-wrapper .hr{
	width:70%;
	background-color: #5F3976;
}
.card-section{
	margin:0 auto;
}
.card{
	text-align: left;
	padding:5%;
	float: left;
	max-width:40%;
	min-height: 200px;
}

.card:first-child{
	background: rgba(0,0,0,0.12);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.06);
}

.card:nth-child(3){
	background: rgba(0,0,0,0.06);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.12);
}

.card:nth-child(5){
	background: rgba(0,0,0,0.12);
}

.card:nth-child(6){
	background: rgba(0,0,0,0.06);
}

footer{
	background: #333;
	color_#fff;
	min-height: 200px;
	text-align: center;
}
.share{
	display:block;
	width:1080px;
	margin: 0 auto;
	padding: 50px;
}
.share li{
	display: inline-block;
	padding: 10px 60px;
}
.copy{
	padding-bottom:20px ;
}

.import{
	background-color: rgba(0,0,0,0.5);
}
